.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
  margin-bottom: 1rem;
}

.left-card {
  flex: 2 0 25%;
}

.right-card {
  flex: 1 0 75%;
  padding-left: 2rem;
}

.right-card div {
  padding-top: 1rem;
}

.right-card a {
  color: #3EBFAC;
}

.list-card {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.list-card ul {
  padding-top: 2rem;
}

.list-card li {
  list-style-type: none;
}

.list-card a {
  color: #3EBFAC;
}

.loader {
    border: 16px solid #FEE01E;
    border-radius: 50%;
    border-top: 16px solid #211650;
    border-bottom: 16px solid #211650;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    visibility: visible;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}