body {
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50em;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
    padding: 1em;
}

header img {
    flex-shrink: 0;
}

h1 {
    flex-shrink: 1;
    padding-left: 0.5em;
    font-size: 2.5em;
}
nav {
    padding: 0.5em;
    border: 1px solid white;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 0.5em;
}

nav li {
    padding-right: 1.5em;
}

main {
    display: flex;
    flex-grow: 1;
}